<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Employee Name</th>
                <th>Email</th>
                <th>Contact Number</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td>{{employee.empid}}</td>
                <td>{{employee.name}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.contactNumber}}</td>
                <td>
                    <a href="edit/{{employee.id}}"> Edit</a>
                     <a href="delete/{{employee.id}}"> Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>